.security-list-wrapper {
  padding: 30px;
}

::ng-deep .mat-form-field-wrapper{
  margin-bottom: -1.25em;
}

.spacer {
  flex: 1 1 auto;
}

.transparent {
  opacity: 0.4;

  &:hover {
    opacity: 1;
    transition: 0.2s ease-out;
  }
}
